
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Second</title>
</head>

<body>
    
    <div id="app">

        <header class="container-fluid p-3">
            <img class="" src="../logo.png" alt="spoty logo">
        </header>
    
        <main>
    
            <div class="container p-3">
    
                <div class="row col-8 offset-2">
    
                        <div 
                            v-for="(album, index) in albums" 
                            :key="`album-id${index}`" 
                            class="col-3 m-3 cardd">
    
                            <ul >
                                <li>
                                    <img :src= "album.poster" alt="album.title">
                                </li>

                                <li> {{ album.title }} </li>
                                <li> {{ album.author }} </li>
                                <li> {{ album.year }} </li>
                                <li> {{ album.genre }} </li>

                            </ul>

                        </div>
    
            </div>
    
        </main>

    <!-- #APP -->
    </div>



    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- JS -->
    <script src="../js/main.js"></script>

</body>

</html>


